pipeline/XLSX_to_XDM.json
{
	"name": "XLSX_to_XDM",
	"properties": {
		"activities": [
			{
				"name": "Get New Load ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GET_NEW_LOADID]",
						"storedProcedureParameters": {
							"P_DATA_LOCATION_NAME": {
								"type": "String",
								"value": "CustomerB2c"
							},
							"P_LOAD_DESCRIPTION": {
								"type": "String",
								"value": "XSLX Blob to XDM Demo"
							},
							"P_PROGRAM_NAME": {
								"type": "String",
								"value": "ADF"
							},
							"P_USERNAME": {
								"type": "String",
								"value": "semadmin"
							},
							"return_value_argument": {
								"type": "Single",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SemarchyRepository",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Load ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get New Load ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@activity('Get New Load ID').output.firstRow",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}