pipeline/XLSX_to_XDM.json
{
	"name": "XLSX_to_XDM",
	"properties": {
		"activities": [
			{
				"name": "Get New Load ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "declare\n  @v_load_id int\n  begin\n   exec semarchy_repository.dbo.get_new_loadid\n    @return_value_argument=@v_load_id OUTPUT,\n    @p_data_location_name = 'CustomerB2c', /* Data Location Name (as in the UI) */\n    @p_program_name = 'ADF',\t\t/*  Informational. Identifies the Middleware */\n    @p_load_description = N'Blob XSLS to XDM',/* Informational. Describes the load. */\n    \t\t\t\t\t\t/* Note the N to allow accented characters */\n    @p_username = 'semadmin'\t\t/* User initializing the load. */\n    select @v_load_id as loadid\nend",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SemarchyRepository",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Load ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get New Load ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@activity('Get New Load ID').output.firstRow",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}