pipeline/XLSX_to_XDM.json
{
	"name": "XLSX_to_XDM",
	"properties": {
		"activities": [
			{
				"name": "Get New Load ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "declare\n  @v_load_id int\n  begin\n   exec semarchy_repository.dbo.get_new_loadid\n    @return_value_argument=@v_load_id OUTPUT,\n    @p_data_location_name = 'CustomerB2c', /* Data Location Name (as in the UI) */\n    @p_program_name = 'ADF',\t\t/*  Informational. Identifies the Middleware */\n    @p_load_description = N'Blob XSLS to XDM',/* Informational. Describes the load. */\n    \t\t\t\t\t\t/* Note the N to allow accented characters */\n    @p_username = 'semadmin'\t\t/* User initializing the load. */\n    select @v_load_id as loadid\nend",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SemarchyRepository",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Load ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get New Load ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "\"@activity('Get New Load ID').output.firstRow.loadid\"",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Submit Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": "INTEGRATE_ALL",
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": "semadmin",
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SemarchyRepository",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set Load ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "InsertIntoSA2",
						"type": "DataFlowReference",
						"parameters": {
							"loadid": {
								"value": "'@{variables('LoadID')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}